@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Fira+Code&display=swap');

body {
  margin: 0;
  background-color: #111;
  color: white;
  font-family: 'Inter', sans-serif;
}
